/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/12/2019, 15:06:10
    Author     : carlo
*/

.nav-wrapper
{
    background-color: #346786;
}

#content-title
{
    text-align: center; 
    width: 75%;
    font-size: 35px; 
    color: #346786;
}

#sel-dep
{
    width: 400px;
}

#div-docentes
{
    margin-top: 10px; 
    margin-bottom: 5px;
}

#label-lista-docentes
{
    text-align: center; 
    width: 75%;
    font-size:15px; 
    color: #346786; 
}

#tabela-docentes
{
    width: 75%;
    margin-left: 200px;
}

#btn-visualizar
{
    width: 35px;
    position: relative;
    display: inline-block;
}

#btn-visualizar:hover
{
    cursor: pointer;
}

#visualizar-curriculo
{
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black
}

#btn-visualizar + #span-visualizar
{
    visibility: hidden;
    width: 70px;
    height: 20px;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 110%;
    font-size: 12px;
    font-family: Arial;
    border: 1px solid;
    border-radius: 1px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

#btn-visualizar + #span-visualizar::after
{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#btn-visualizar:hover + #span-visualizar
{
    visibility: visible;
    opacity: 1;
}

#table-wrapper 
{
    position:relative;
    margin-left: 180px;
}

#table-scroll 
{
    height:200px;
    overflow:auto;  
    margin-top:10px;
}

#table-wrapper table 
{
    width:50%;    
}

#table-wrapper table * 
{
    color:black;
}

#table-wrapper table thead th .text 
{
    position:absolute;   
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
}

#table-wrapper table tbody tr td
{
    border-radius: 500px;
}

.collapsible 
{
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover 
{
  background-color: #346786;
  color: white;
}

.content 
{
    margin-top: 0px;
    display: none;
    overflow: hidden;
    width: 50%;
    margin-left: 340px;
}

#t
{
    display:block;
    width: 50%;
    margin-left: 340px;
}

#btn-baixar-curriculo
{
    width: 35px;
    position: relative;
    display: inline-block;
}

#btn-remover-curriculo
{
    width: 35px;
    position: relative;
    display: inline-block;
}

#div-baixar-curriculo
{
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black
}

#btn-baixar-curriculo:hover
{
    cursor: pointer;
}

#btn-remover-curriculo:hover
{
    cursor: pointer;
}

#btn-baixar-curriculo + #span-baixar
{
    visibility: hidden;
    width: 70px;
    height: 20px;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 110%;
    font-size: 12px;
    font-family: Arial;
    border: 1px solid;
    border-radius: 1px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

#btn-baixar-curriculo + #span-baixar::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#btn-baixar-curriculo:hover + #span-baixar
{
    visibility: visible;
    opacity: 1;
}

#div-remover-curriculo
{
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black
}

#btn-remover-curriculo + #span-remover
{
    visibility: hidden;
    width: 70px;
    height: 20px;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -8px;
    right: 110%;
    font-size: 12px;
    font-family: Arial;
    border: 1px solid;
    border-radius: 1px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

#btn-remover-curriculo + #span-remover::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

#btn-remover-curriculo:hover + #span-remover
{
    visibility: visible;
    opacity: 1;
}

#label-nome
{
    width: 300px;
}
