
#content-title
{
    font-size: 25px;
    color: #346786;
<<<<<<< HEAD
}

#table-wrapper p
{
    width: 100%; color: blue; font-size: 200%;
}

.active
{
    color: blue;
=======
>>>>>>> 5402ea68c6e18978b3bb0c1fafc837fae3a5de57
}